# =========================================================
#  FinanceOS — Environment Variables for Production (VPS)
#  SALIN FILE INI SEBAGAI .env DI SERVER VPS ANDA
#  JANGAN PERNAH COMMIT FILE INI KE GIT!
# =========================================================

# ---- NextAuth ----
# Ganti dengan domain Anda setelah setup SSL
NEXTAUTH_URL=https://DOMAIN_ANDA

# Generate dengan: openssl rand -base64 32
NEXTAUTH_SECRET=GANTI_DENGAN_STRING_RANDOM_MINIMAL_32_KARAKTER

# ---- Database ----
DATABASE_URL="postgresql://username:password@aws-0-eu-central-1.pooler.supabase.com:6543/postgres"

# ---- AI (Groq) ----
GROQ_API_KEY="<YOUR_GROQ_API_KEY_HERE>"

# ---- Google Drive Integration ----
GDRIVE_CLIENT_EMAIL=financeos-bot@deep-ground-465903-q0.iam.gserviceaccount.com
GDRIVE_PRIVATE_KEY="<YOUR_GDRIVE_PRIVATE_KEY_HERE>"
GDRIVE_FOLDER_ID=1IjKJjyI-CEQg-Mxzq169Cj6XNw2-r6E2
